.article p {
  margin: 2rem 0;
  @apply font-sans;
}

.prose a {
  @apply text-white;
}

.prose video {
  @apply mb-0 !important;
}

.prose h1,
.prose h2,
.prose h3,
.prose h4,
.prose h5,
.prose h6 {
  @apply px-2 text-white;
}

.prose .post-image img {
  @apply my-2;
}

.article .post-image {
  text-align: center;
  @apply bg-green-800;
}
.article .post-image img {
  width: 100%;
}

.custom-shape-divider-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom svg {
  position: relative;
  display: block;
  width: calc(140% + 1.3px);
  height: 208px;
}

.custom-shape-divider-bottom .shape-fill {
  @apply text-gray-800 fill-current;
}

.custom-shape-divider-bottom-1594014676 {
  @apply hidden;
}

@screen md {
  .custom-shape-divider-bottom-1594014676 {
    @apply block;
  }
}

.dark .custom-shape-divider-bottom .shape-fill {
  @apply text-gray-800 fill-current;
}

.custom-shape-divider-bottom-1594014676 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-bottom-1594014676 svg {
  position: relative;
  display: block;
  width: calc(167% + 1.3px);
  height: 134px;
}

.custom-shape-divider-bottom-1594014676 .shape-fill {
  @apply text-gray-900 fill-current;
}
