.article p {
  margin: 2rem 0;
}

.article .post-image {
  text-align: center;
}
.article .post-image img {
  width: 100%;
}

footer {
  margin-top: 3rem;
}

.custom-shape-divider-bottom-1594014441 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1594014441 svg {
  position: relative;
  display: block;
  width: calc(140% + 1.3px);
  height: 208px;
}

.custom-shape-divider-bottom-1594014441 .shape-fill {
  @apply text-white fill-current;
}

.custom-shape-divider-bottom-1594014676 {
  @apply hidden;
}

@screen md {
  .custom-shape-divider-bottom-1594014676 {
    @apply block;
  }
}

.dark .custom-shape-divider-bottom-1594014441 .shape-fill {
  @apply text-gray-800 fill-current;
}

.custom-shape-divider-bottom-1594014676 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-bottom-1594014676 svg {
  position: relative;
  display: block;
  width: calc(167% + 1.3px);
  height: 134px;
}

.custom-shape-divider-bottom-1594014676 .shape-fill {
  @apply text-white fill-current;
}

.dark .custom-shape-divider-bottom-1594014676 .shape-fill {
  @apply text-gray-900 fill-current;
}
