body.resources-tables .bm-burger-button {
  top: 15px;
}

.headroom-wrapper {
  position: absolute;
}

.headroom {
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  position: fixed !important;
  /*transition: all 800ms ease-in-out;*/
  @apply transition-transform duration-700 bg-white shadow-sm;
}
/* .headroom--unfixed {
  position: relative;
  transform: translateY(0);
}
.headroom--scrolled {
}
.headroom--unpinned {
  position: fixed;

  transform: translateY(0);
} */

.headroom--unpinned {
  /* transform: translateY(-100%);*/
  backdrop-filter: blur(0) !important;
  pointer-events: none;
}

.headroom--unpinned .inner-wrapper {
  opacity: 0;
  transition-delay: 0s;
}

/* 
@screen md {
  .headroom--unpinned {
    transform: translateY(-100%);
    background: transparent !important;
  }
}
.headroom--pinned {
  position: fixed;
  transform: translateY(0%);
} */

@screen md {
  .headroom--unpinned {
    /* transform: translateY(-100%);*/
    background: transparent !important;
    backdrop-filter: blur(0) !important;
    pointer-events: none;
  }

  .headroom--unpinned .inner-wrapper {
    opacity: 0;
    transition-delay: 0s;
  }
}
.headroom--pinned {
  position: fixed;
  @apply bg-opacity-60;
  transform: translateY(0%);
}

.headroom nav a {
  @apply hidden mx-2 font-mono text-base font-bold lg:mx-4 lg:text-base md:inline-block;
}

.headroom nav a:hover {
  @apply text-yellow-600;
}
.headroom nav a.active {
  @apply text-yellow-500;
}
