body.resources-tables .bm-burger-button {
    top: 15px;
  }

.headroom-wrapper {
  position: absolute;
}

.headroom {
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  position: fixed !important;
  /*transition: all 800ms ease-in-out;*/
  @apply transition-transform duration-700 bg-white shadow-sm;
}
.headroom--unfixed {
  position: relative;
  transform: translateY(0);
}
.headroom--scrolled {
}
.headroom--unpinned {
  position: fixed;

  transform: translateY(0);
}

@screen md {
  .headroom--unpinned {
    transform: translateY(-100%);
    background: transparent !important;
  }
}
.headroom--pinned {
  position: fixed;
  transform: translateY(0%);
}
